*{
    padding: 0;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    font-family: fontegame;
    list-style: none; /*"retira as bolinhas da lista" */
}

@font-face {
    font-family: "fontegame"; 
    src: url(fontegame.ttf);
}

body{
    background-image: url(imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logos{
    width: 20rem;
}
