* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

/* uso da raiz seletora */
:root {
    --grande: 36px;
   }
   
   h1 {
       font-size: var(--grande);
   }
   
   .titulo-grande {
       font-size: var(--grande);
   }
   
   #titulo {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }
   
   /* responsividade */
   @media (width <= 600px) {
       :root {
           --grande: 18px;
       }
   }